<!-- Start Features -->
<section class="features">
    <div class="container">
        <div class="row">
            <!-- Features Single -->
            <div class="col-md-6 col-sm-6 col-xs-12 features-single">
                <h2>Llamá o escribi al 154640054</h2>
                <p>Brindamos asesoramiento legal, psicológico y social en situaciones de violencia por razones de
                    genero</p>
                <a href="tel:+3804392593" class="btn"><i class="fa fa-phone"></i> Llamar</a>
                &nbsp;
                <a href="https://api.whatsapp.com/send?phone=3804392593" class="btn"><i class="fa fa-whatsapp"></i>
                    Escribinos</a>

            </div>
            <!--/ End Features Single -->
            <!-- Features Single -->
            <div class="col-md-6 col-sm-6 col-xs-12 features-single active ">
                <h2>Llamá al 911</h2>
                <p>En caso de riesgo</p>
                <a href="tel:+911" class="btn"><i class="fa fa-phone"></i> Llamar</a>
            </div>
            <!--/ End Features Single -->
        </div>
    </div>
</section>
<!--/ End Features -->