<!-- Start Hero Area -->
<section class="hero-area">
    <div class="slider-one">
        <!-- Single Slider -->
        <div class="single-slider" style="background-image:url('{{ asset('assets/website/images/slider/slider-00.jpg') }}')"></div>
        <!--/ End Single Slider -->
        <!-- Single Slider -->
        <div class="single-slider" style="background-image:url('{{ asset('assets/website/images/slider/slider-01.jpg') }}')">

        </div>
        <!--/ End Single Slider -->
    </div>
</section>
<!--/ End Hero Area -->